<section class="address">
	<div class="container">
		<div class="flower-wrapper address__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="address__title">Адреса</h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<div class="address-cards">
			<div class="address-card">
				<svg class="address-card__icon">
					<use href="./assets/img/svg/sprite.svg#location"></use>
				</svg>
				<div class="address-card__title">Парк Культуры</div>
				<ul class="address-list list-reset">
					<li class="address-list__item">
						<span>Адрес:</span>
						<p>г. Москва, ул. Тимура Фрунзе, дом 11, корпус 1</p>
					</li>
					<li class="address-list__item">
						<span>Режим работы:</span>
						<p>Ежедневно с 10:00 до 20:00 Без выходных</p>
					</li>
					<li class="address-list__item">
						<span>Почта:</span>
						<p>info@skupkaserebramoskva.ru</p>
					</li>
					<li class="address-list__item">
						<span>Телефон:</span>
						<p>+7 993 256-12-31</p>
					</li>
				</ul>
			</div>
			<div class="address-card">
				<svg class="address-card__icon">
					<use href="./assets/img/svg/sprite.svg#location"></use>
				</svg>
				<div class="address-card__title">Парк Культуры</div>
				<ul class="address-list list-reset">
					<li class="address-list__item">
						<span>Адрес:</span>
						<p>г. Москва, ул. Тимура Фрунзе, дом 11, корпус 1</p>
					</li>
					<li class="address-list__item">
						<span>Режим работы:</span>
						<p>Ежедневно с 10:00 до 20:00 Без выходных</p>
					</li>
					<li class="address-list__item">
						<span>Почта:</span>
						<p>info@skupkaserebramoskva.ru</p>
					</li>
					<li class="address-list__item">
						<span>Телефон:</span>
						<p>+7 993 256-12-31</p>
					</li>
				</ul>
			</div>
			<div class="address-card">
				<svg class="address-card__icon">
					<use href="./assets/img/svg/sprite.svg#location"></use>
				</svg>
				<div class="address-card__title">Парк Культуры</div>
				<ul class="address-list list-reset">
					<li class="address-list__item">
						<span>Адрес:</span>
						<p>г. Москва, ул. Тимура Фрунзе, дом 11, корпус 1</p>
					</li>
					<li class="address-list__item">
						<span>Режим работы:</span>
						<p>Ежедневно с 10:00 до 20:00 Без выходных</p>
					</li>
					<li class="address-list__item">
						<span>Почта:</span>
						<p>info@skupkaserebramoskva.ru</p>
					</li>
					<li class="address-list__item">
						<span>Телефон:</span>
						<p>+7 993 256-12-31</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
