<section class="buy">
	<div class="container buy__container">
		<div class="buy__item">
			<img
				src="./assets/img/gramophone.png"
				alt="старый патефон"
				class="buy__img"
			/>
		</div>
		<div class="buy__content">
			<div class="buy__wrapper">
				<svg class="flower-vert">
					<use href="./assets/img/svg/sprite.svg#flower-vert"></use>
				</svg>
				<h2 class="buy__title">Скупка <span>антиквариата в Москве</span></h2>
			</div>
			<p class="buy__text">
				Если вы&nbsp;ищете скупку антиквариата в&nbsp;Москве, предлагаем
				воспользоваться услугами нашего ломбарда и&nbsp;антикварного магазина.
				Мы&nbsp;оцениваем изделия с учётом их&nbsp;исторической
				и&nbsp;антикварной ценности, состояния и&nbsp;других важных
				характеристик. Приобретаем различные старинные предметы, столовое
				серебро, фарфоровые наборы и&nbsp;статуэтки, имеем большой опыт работы с
				иконами, живописью, монетами, значками и&nbsp;наградами, книгами,
				часами, старинная бронза, и&nbsp;прочим
			</p>
			<div class="buy__actions">
				<button class="buy__btn btn btn-reset">Онлайн оценка</button>
				<ul class="socials buy__socials list-reset">
					<li>
						<a
							target="_blank"
							href="#"
							class="socials__link socials__link--secondary"
							aria-label="вконтакте"
						>
							<svg class="socials__icon">
								<use href="./assets/img/svg/sprite.svg#vk"></use>
							</svg>
						</a>
					</li>
					<li>
						<a
							target="_blank"
							href="#"
							class="socials__link socials__link--secondary"
							aria-label="телеграм"
						>
							<svg class="socials__icon">
								<use href="./assets/img/svg/sprite.svg#telegram"></use>
							</svg>
						</a>
					</li>
					<li>
						<a
							target="_blank"
							href="#"
							class="socials__link socials__link--secondary"
							aria-label="ватсап"
						>
							<svg class="socials__icon">
								<use href="./assets/img/svg/sprite.svg#whatsapp"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
