<section class="buying">
	<div class="container buying__container">
		<div class="flower-wrapper buying__flowers mobile-flowers">
			<div class="flower-wrapper__icon"></div>
			<h2 class="flower-wrapper__title">
				Что можно продать в <span>скупку антиквариата?</span>
			</h2>
			<div class="flower-wrapper__icon"></div>
		</div>

		<div class="sale-blocks">
			<div class="for-sale for-sale_active">Дулевский фарфоровый завод</div>
			<div class="for-sale">Золотые монеты</div>
			<div class="for-sale">Изделия из серебра завода Christofle</div>
			<div class="for-sale">
				Изделия предприятия «П.А. Овчинников», 1851-1917 г.г.
			</div>
			<div class="for-sale">Императорский фарфоровый завод</div>
			<div class="for-sale">Иностранные монеты</div>
			<div class="for-sale">Ленинградский фарфоровый завод</div>
			<div class="for-sale">Мейсенский фарфор Meissen</div>
			<div class="for-sale">Монеты России с 1991 года</div>
			<div class="for-sale">Монеты СССР 1921-1991</div>
			<div class="for-sale">Монеты царской России</div>
			<div class="for-sale">Наборы монет</div>
			<div class="for-sale">Аккордеоны и баяны</div>
			<div class="for-sale">Гранатовые изделия</div>
			<div class="for-sale">Коралловые изделия</div>
			<div class="for-sale">Микроскопы</div>
			<div class="for-sale">Телескопы</div>
			<div class="for-sale">Палладиевые монеты</div>
			<div class="for-sale">Платиновые монеты</div>
			<div class="for-sale">Редкие монеты</div>
			<div class="for-sale">Серебряные изделия Сазикова Игнатия Павловича</div>
			<div class="for-sale">Серебряные монеты</div>
			<div class="for-sale">Аантикварные часы</div>
			<div class="for-sale">Бинокли</div>
		</div>
		<button class="btn buying__btn btn-reset">Показать еще</button>
	</div>
</section>
