<section class="choose">
	<div class="container choose__container">
		<div class="flower-wrapper choose__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="flower-wrapper__title">Почему <span>выбирают нас?</span></h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<div class="choose__blocks">
			<div class="info-block">
				<div class="info-block__top">
					<svg class="info-block__icon">
						<use href="./assets/img/svg/sprite.svg#user"></use>
					</svg>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Наши сотрудники</div>
					<div class="info-block__subtitle">
						Раскрывают ценность предмета, что повышает его оценочную стоимость
					</div>
				</div>
			</div>
			<!-- 2 -->
			<div class="info-block">
				<div class="info-block__top">
					<svg class="info-block__icon">
						<use href="./assets/img/svg/sprite.svg#privacy"></use>
					</svg>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Конфиденциальность</div>
					<div class="info-block__subtitle">
						Сделка является коммерческой тайной и никакие данные не разглашаются
					</div>
				</div>
			</div>
			<!-- 3 -->
			<div class="info-block">
				<div class="info-block__top">
					<svg class="info-block__icon">
						<use href="./assets/img/svg/sprite.svg#doc"></use>
					</svg>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Удобный расчёт</div>
					<div class="info-block__subtitle">
						Наличный или безналичный способ оплаты в тот же день
					</div>
				</div>
			</div>
			<!-- 4 -->
			<div class="info-block">
				<div class="info-block__top">
					<svg class="info-block__icon">
						<use href="./assets/img/svg/sprite.svg#online"></use>
					</svg>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Онлайн-оценка</div>
					<div class="info-block__subtitle">
						Вы можете узнать предварительную стоимость без личного посещения
					</div>
				</div>
			</div>
			<!-- 5 -->
			<div class="info-block">
				<div class="info-block__top">
					<svg class="info-block__icon">
						<use href="./assets/img/svg/sprite.svg#speed"></use>
					</svg>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Оперативная работа</div>
					<div class="info-block__subtitle">
						Минимум бюрократических формальностей
					</div>
				</div>
			</div>
			<!-- 6 -->
			<div class="info-block">
				<div class="info-block__top">
					<svg class="info-block__icon">
						<use href="./assets/img/svg/sprite.svg#diamond"></use>
					</svg>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Профессиональная оценка</div>
					<div class="info-block__subtitle">
						Наши сотрудники обладают знаниями и навыками оценки антиквариата
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
