<section class="determine">
	<div class="container determine__container">
		<div class="determine__content">
			<svg class="flower-vert">
				<use href="./assets/img/svg/sprite.svg#flower-vert"></use>
			</svg>
			<h2 class="determine__title">
				Видео как <span>определить подлинность</span> антиквариата
				самостоятельно
			</h2>
		</div>
		<div class="determine-video">
			<video
				controls
				src="./assets/video/d.mp4"
				poster="./assets/img/determine.png"
			></video>
			<button class="determine-video__play btn-reset">
				<svg class="determine-video__icon">
					<use href="./assets/img/svg/sprite.svg#play"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
