<section class="faq">
	<div class="container">
		<div class="flower-wrapper faq__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="flower-wrapper__title">Частые <span>вопросы</span></h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<div class="faq__accordions">
			<div class="accordion">
				<button class="accordion__toggle btn-reset">
					<span>Как получить оценку антиквариата?</span>
					<div class="accordion__wrap">
						<svg class="accordion__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="accordion__wrapper">
					<p class="accordion__text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et minus
						ducimus corporis magni, blanditiis ipsa dolores quisquam minima, hic
						magnam quaerat quae ipsam reprehenderit vero sed neque autem
						obcaecati in! Dignissimos ut perspiciatis cumque deleniti. Fugit
						impedit, unde quibusdam adipisci, maiores minima eum explicabo velit
						nihil necessitatibus ipsa quod doloribus voluptate possimus voluptas
						nobis quam, sequi esse nulla dicta vel. Omnis, accusamus natus nulla
						officia maxime voluptates voluptatem quaerat corporis laborum
						quibusdam sint cupiditate iste laudantium ipsum perferendis hic
						numquam culpa velit rerum enim debitis! Dolor error nam rerum
						ratione!
					</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__toggle btn-reset">
					<span
						>Как сделать фотографии антиквариата, чтобы получить максимально
						точную онлайн-оценку?</span
					>
					<div class="accordion__wrap">
						<svg class="accordion__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="accordion__wrapper">
					<p class="accordion__text">Lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__toggle btn-reset">
					<span
						>Я нахожусь в небольшом отдалённом городе России. Как мне продать
						антиквариат?</span
					>
					<div class="accordion__wrap">
						<svg class="accordion__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="accordion__wrapper">
					<p class="accordion__text">Lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__toggle btn-reset">
					<span
						>У меня большая коллекция. Каким образом наиболее оптимально оценить
						и продать её?</span
					>
					<div class="accordion__wrap">
						<svg class="accordion__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="accordion__wrapper">
					<p class="accordion__text">Lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__toggle btn-reset">
					<span>Можно ли продать антиквариат, не приезжая к вам в офис?</span>
					<div class="accordion__wrap">
						<svg class="accordion__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="accordion__wrapper">
					<p class="accordion__text">Lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__toggle btn-reset">
					<span
						>Стоит ли мне почистить предметы перед отправкой их на оценку?</span
					>
					<div class="accordion__wrap">
						<svg class="accordion__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="accordion__wrapper">
					<p class="accordion__text">Lorem ipsum dolor sit amet</p>
				</div>
			</div>
			<div class="accordion">
				<button class="accordion__toggle btn-reset">
					<span
						>При оценке предмета мне предложили измерить пробу металла
						химическим способом или сделать надпил. Стоит ли соглашаться?</span
					>
					<div class="accordion__wrap">
						<svg class="accordion__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="accordion__wrapper">
					<p class="accordion__text">Lorem ipsum dolor sit amet</p>
				</div>
			</div>
		</div>
	</div>
</section>
