<section class="feedback">
	<div class="flower-wrapper feedback__flower">
		<svg class="flower-wrapper__icon">
			<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
		</svg>
		<h2 class="flower-wrapper__title">Отзывы</h2>
		<svg class="flower-wrapper__icon">
			<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
		</svg>
	</div>
	<div class="feedback-cards">
		<div class="feedback-card">
			<div class="feedback-card__top">
				<img
					src="./assets/img/unknown-user.svg"
					alt="unknown-user"
					class="feedback-card__user"
				/>
			</div>
			<div class="feedback-card__body">
				<div class="feedback-card__title">Игорь, 28.02.2023</div>
				<div class="feedback-card__text">
					По наследству досталась старинная икона, мне она без надобности, решил
					продать. Знакомые порекомендовали галерею, сказали что там работают
					знающие и порядочные люди. Икону продал выгодно. Буду их
					рекомендовать.
				</div>
			</div>
		</div>
		<div class="feedback-card">
			<div class="feedback-card__top">
				<img
					src="./assets/img/unknown-user.svg"
					alt="unknown-user"
					class="feedback-card__user"
				/>
			</div>
			<div class="feedback-card__body">
				<div class="feedback-card__title">Игорь, 28.02.2023</div>
				<div class="feedback-card__text">
					По наследству досталась старинная икона, мне она без надобности, решил
					продать. Знакомые порекомендовали галерею, сказали что там работают
					знающие и порядочные люди. Икону продал выгодно. Буду их
					рекомендовать.
				</div>
			</div>
		</div>
		<div class="feedback-card">
			<div class="feedback-card__top">
				<img
					src="./assets/img/unknown-user.svg"
					alt="unknown-user"
					class="feedback-card__user"
				/>
			</div>
			<div class="feedback-card__body">
				<div class="feedback-card__title">Игорь, 28.02.2023</div>
				<div class="feedback-card__text">
					По наследству досталась старинная икона, мне она без надобности, решил
					продать. Знакомые порекомендовали галерею, сказали что там работают
					знающие и порядочные люди. Икону продал выгодно. Буду их
					рекомендовать.
				</div>
			</div>
		</div>
		<div class="feedback-card">
			<div class="feedback-card__top">
				<img
					src="./assets/img/unknown-user.svg"
					alt="unknown-user"
					class="feedback-card__user"
				/>
			</div>
			<div class="feedback-card__body">
				<div class="feedback-card__title">Игорь, 28.02.2023</div>
				<div class="feedback-card__text">
					По наследству досталась старинная икона, мне она без надобности, решил
					продать. Знакомые порекомендовали галерею, сказали что там работают
					знающие и порядочные люди. Икону продал выгодно. Буду их
					рекомендовать.
				</div>
			</div>
		</div>
		<div class="feedback-card">
			<div class="feedback-card__top">
				<img
					src="./assets/img/unknown-user.svg"
					alt="unknown-user"
					class="feedback-card__user"
				/>
			</div>
			<div class="feedback-card__body">
				<div class="feedback-card__title">Игорь, 28.02.2023</div>
				<div class="feedback-card__text">
					По наследству досталась старинная икона, мне она без надобности, решил
					продать. Знакомые порекомендовали галерею, сказали что там работают
					знающие и порядочные люди. Икону продал выгодно. Буду их
					рекомендовать.
				</div>
			</div>
		</div>
		<div class="feedback-card">
			<div class="feedback-card__top">
				<img
					src="./assets/img/unknown-user.svg"
					alt="unknown-user"
					class="feedback-card__user"
				/>
			</div>
			<div class="feedback-card__body">
				<div class="feedback-card__title">Игорь, 28.02.2023</div>
				<div class="feedback-card__text">
					По наследству досталась старинная икона, мне она без надобности, решил
					продать. Знакомые порекомендовали галерею, сказали что там работают
					знающие и порядочные люди. Икону продал выгодно. Буду их
					рекомендовать.
				</div>
			</div>
		</div>
		<div class="feedback-card">
			<div class="feedback-card__top">
				<img
					src="./assets/img/unknown-user.svg"
					alt="unknown-user"
					class="feedback-card__user"
				/>
			</div>
			<div class="feedback-card__body">
				<div class="feedback-card__title">Игорь, 28.02.2023</div>
				<div class="feedback-card__text">
					По наследству досталась старинная икона, мне она без надобности, решил
					продать. Знакомые порекомендовали галерею, сказали что там работают
					знающие и порядочные люди. Икону продал выгодно. Буду их
					рекомендовать.
				</div>
			</div>
		</div>
	</div>
</section>
