<section class="grade">
	<div class="container">
		<div class="flower-wrapper grade__flowers">
			<div class="flower-wrapper__icon"></div>
			<h2 class="flower-wrapper__title">Как проходит <span>оценка</span></h2>
			<div class="flower-wrapper__icon"></div>
		</div>

		<div class="grade__blocks">
			<div class="info-block">
				<div class="info-block__top">
					<div class="info-block__num">01</div>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Определение возраста</div>
					<div class="info-block__subtitle">
						Чем старше предмет, тем как правило он дороже.
					</div>
				</div>
			</div>
			<!-- 2 -->
			<div class="info-block">
				<div class="info-block__top">
					<div class="info-block__num">02</div>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Сохранность</div>
					<div class="info-block__subtitle">
						Чем лучше сохранился предмет, тем он дороже
					</div>
				</div>
			</div>
			<!-- 3 -->
			<div class="info-block">
				<div class="info-block__top">
					<div class="info-block__num">03</div>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Редкость</div>
					<div class="info-block__subtitle">
						Уникальный предмет всегда будет пользоваться повышенным спросом
						среди коллекционеров.
					</div>
				</div>
			</div>
			<!-- 4 -->
			<div class="info-block">
				<div class="info-block__top">
					<div class="info-block__num">04</div>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Подлинность</div>
					<div class="info-block__subtitle">
						Оригинальная вещь всегда дороже чем копия или подделка. Рынок
						наводнён подделками.
					</div>
				</div>
			</div>
			<!-- 5 -->
			<div class="info-block">
				<div class="info-block__top">
					<div class="info-block__num">05</div>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Эпоха</div>
					<div class="info-block__subtitle">
						Некоторые предметы очень насыщенно и точно передают время в котором
						были изготовлены.
					</div>
				</div>
			</div>
			<!-- 6 -->
			<div class="info-block">
				<div class="info-block__top">
					<div class="info-block__num">06</div>
				</div>
				<div class="info-block__body">
					<div class="info-block__title">Материалы</div>
					<div class="info-block__subtitle">
						Изделия из драгоценных металлов, золота и серебра, со вставками из
						драгоценных камней
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="how-determine">
		<div class="container how-determine__container">
			<div class="how-determine__content">
				<div class="how-determine__wrap">
					<svg class="flower-vert">
						<use href="./assets/img/svg/sprite.svg#flower-vert"></use>
					</svg>
					<h2 class="how-determine__title">
						Как производится <span>оценка в онлайн режиме</span> на сайте
					</h2>
				</div>
				<p class="how-determine__subtitle">
					Если у вас появились вопросы, вы можете получить бесплатную
					консультацию у нашего специалиста. Для этого необходимо выбрать
					удобный для вас вариант общения. Если требуется выполнить оценку, вы
					можете загрузить фото, а также заполнить специальную форму на сайте. В
					результате вы сможете узнать, какая ориентировочная стоимость
					антиквариата.
				</p>
				<svg class="decor-divider">
					<use href="./assets/img/svg/sprite.svg#decor-divider"></use>
				</svg>
			</div>
			<form action="#" class="how-determine__form form">
				<div class="how-determine__fields">
					<div class="basic-field">
						<label for="name-1" class="basic-field__label">Имя</label>
						<input
							name="name"
							id="name-1"
							type="text"
							placeholder="Текст"
							class="basic-field__input input-reset"
						/>
					</div>
					<div class="basic-field">
						<label for="number-1" class="basic-field__label"
							>Ваш телефон*</label
						>
						<input
							name="number"
							id="number-1"
							type="text"
							inputmode="numeric"
							placeholder="Текст"
							class="basic-field__input input-reset"
						/>
					</div>
				</div>
				<div class="custom-file">
					<label class="custom-file__label" for="file">
						<svg class="custom-file__icon">
							<use href="./assets/img/svg/sprite.svg#att"></use>
						</svg>
					</label>
					<div class="custom-file__name">Фото</div>
					<input id="file" type="file" class="custom-file__input" />
				</div>
				<div class="basic-field">
					<label for="message-1" class="basic-field__label">Сообщение</label>
					<textarea
						class="basic-field__input basic-field__textarea input-reset"
						name="message"
						id="message-1"
						cols="30"
						rows="10"
						placeholder="Ваше сообщение"
					></textarea>
				</div>
				<button class="btn btn-reset" type="submit">Онлайн оценка</button>
			</form>
		</div>
	</div>
</section>
