<section class="hero">
	<div class="hero__container container">
		<div class="hero__content">
			<h1 class="hero__title">Скупка <span>антиквариата в Москве</span></h1>
			<ul class="advantage-menu list-reset">
				<li class="advantage-menu__item">
					<svg class="advantage-menu__icon">
						<use href="./assets/img/svg/sprite.svg#flower"></use>
					</svg>
					<span>Заплатим больше наших конкурентов</span>
				</li>
				<li class="advantage-menu__item">
					<svg class="advantage-menu__icon">
						<use href="./assets/img/svg/sprite.svg#flower"></use>
					</svg>
					<span>Учитываем антикварную ценность</span>
				</li>
				<li class="advantage-menu__item">
					<svg class="advantage-menu__icon">
						<use href="./assets/img/svg/sprite.svg#flower"></use>
					</svg>
					<span>Безопасно и конфиденциально</span>
				</li>
				<li class="advantage-menu__item">
					<svg class="advantage-menu__icon">
						<use href="./assets/img/svg/sprite.svg#flower"></use>
					</svg>
					<span>Быстрый расчет на карту или наличными сразу</span>
				</li>
				<li class="advantage-menu__item">
					<svg class="advantage-menu__icon">
						<use href="./assets/img/svg/sprite.svg#flower"></use>
					</svg>
					<span>Индивидуальный подход</span>
				</li>
			</ul>
		</div>
		<form class="form hero__form" action="#">
			<div class="basic-field">
				<label for="name" class="basic-field__label">Имя</label>
				<input
					name="name"
					id="name"
					type="text"
					placeholder="Ваше имя"
					class="basic-field__input input-reset"
				/>
			</div>
			<div class="basic-field">
				<label for="number" class="basic-field__label">Телефон</label>
				<input
					name="number"
					id="number"
					type="text"
					inputmode="numeric"
					placeholder="Ваш телефон"
					class="basic-field__input input-reset"
				/>
			</div>
			<div class="basic-field">
				<label for="message" class="basic-field__label">Сообщение</label>
				<textarea
					class="basic-field__input basic-field__textarea input-reset"
					name="message"
					id="message"
					cols="30"
					rows="10"
					placeholder="Ваше сообщение"
				></textarea>
			</div>
			<button class="btn btn-reset">Отправить заявку</button>
		</form>
	</div>
</section>
