<section class="interested">
	<div class="container">
		<div class="flower-wrapper interested__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="flower-wrapper__title">Что <span>нас интересует?</span></h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<p class="interested__item">
			Нас интересует антикварная скупка старых вещей СССР и не только:
		</p>
		<p class="interested__item">
			Изделия из фарфора: сервизы, статуэтки, предметы сервировки, агитфарфор
			периода РСФСР И СССР, а также редкие и старинные фарфоровые изделия
			китайских, немецких, европейских и других фабрик.
		</p>
		<p class="interested__item">
			Столовое серебро. Мы дорого выкупаем все многовековое наследие из
			благородного металла: вилки, ложки, ножи, стопки, подстаканники, подносы и
			т.д. Нам интересны столовые приборы 925, 875 и 84 пробы, а также фамильное
			антикварное серебро, изделия известных фабрик России, Германии, Италии,
			Франции.
		</p>
		<p class="interested__item">
			Мельхиор. Нам интересны столовые приборы времен СССР, антиквариат, а также
			мельхиоровые ложки, вилки, ножи, лопатки, шкатулки, салфетницы, кувшины,
			наборы столовых приборов и т.д.
		</p>
		<p class="interested__item">
			Изделия из стекла и хрусталя: хрустальные вазы, антикварные люстры и
			шкатулки, бокалы и графины. Выкупаем изделия отечественных фабрик и
			заграничных производителей. Монеты и медали. Мы выкупаем отечественные и
			иностранные монеты, эпохи царской России и времен СССР, а также
			серебряные, золотые, платиновые и редкие денежные знаки, монеты с браком.
		</p>
		<p class="interested__item">
			Технику и приборы: граммофоны, патефоны, печатные машинки, фото и
			радиотехнику, военные приборы, телескопы и т.д.
		</p>
		<p class="interested__item">
			Антикварную мебель. Нас интересуют старинные кресла, комоды, консоли,
			туалетные столики, винтажные зеркала, старинные стулья, Рамы для картин,
			дореволюционные предметы мебели и интерьера. Выкупим дорого любой редкий
			предмет, возможна скупка старых межкомнатных ручек.
		</p>
		<p class="interested__item">
			Старинные картины. Среди наших постоянных клиентов есть коллекционеры и
			ценители живописи русских и советских авторов. Проводим бесплатную
			экспертизу подлинности полотна, выставляем честные и обоснованные цены.
		</p>
		<p class="interested__item">
			Старинные иконы. Религиозные сюжеты и темы прошлых столетий сегодня
			пользуются высоким спросом среди коллекционеров. Элемент церковного
			убранства в латунных, серебряных и золотых окладах, с драгоценными
			камнями, редкими сюжетами, эмалью можно дорого продать настоящему ценителю
			старины. Мы выкупаем даже те иконы, которые требуют реставрации. Самовары.
			Высоким спросом пользуются польские и варшавские самовары 18-19 века, а
			также латунные экземпляры, редкие трехногие самовары из серебра,
			электрические самовары СССР и Современной России.
		</p>
		<p class="interested__item">
			Бронзовые статуэтки, скульптуры и скульптурные композиции, а также
			канделябры, шкатулки, зеркала, декоративные часы, торшеры, письменные и
			настольные принадлежности. Янтарь. Изделия из непрозрачного янтаря круглой
			или овальной формы, старинные бусы 19 века, необработанный янтарь, изделия
			производства СССР и любые янтарные украшения: серьги, броши, подвески и
			кулоны, а также браслеты, кольца, запонки и многое другое.
		</p>
		<p class="interested__item">
			Восточный антиквариат. Среди наших коллекционеров есть поклонники
			восточной религии и искусства, поэтому постоянным спросом пользуются
			статуэтки Будды, различные предметы восточной культуры, редкие картины,
			вазы и статуэтки в технике клуазоне.
		</p>
		<p class="interested__item">
			Старинные игрушки. Дорого выкупаем коллекционные модели автомобилей,
			заводные и елочные игрушки, ретро куклы, солдатики, настольные игры,
			головоломки, игровой инвентарь.
		</p>
		<p class="interested__item">
			Винтажные украшения. Спрос на старинные ювелирные украшения не угасает. Мы
			выкупаем ювелирные украшения разных эпох, мастеров и стран. Нас интересует
			все: серьги, браслеты, колье, броши, перстни, печатки.
		</p>
	</div>
</section>
