<section class="last-buy">
	<div class="container">
		<div class="flower-wrapper last-buy__flower mobile-flowers">
			<div class="flower-wrapper__icon"></div>
			<h2 class="flower-wrapper__title">
				Наши <span>последние покупки:</span>
			</h2>
			<div class="flower-wrapper__icon"></div>
		</div>
		<div class="saled-blocks">
			<div class="saled-block">
				<img
					src="./assets/img/saled-1.jpg"
					alt="Антикварные часы"
					class="saled-block__bg"
				/>
				<div class="saled-block__text">
					<div class="saled-block__name">Антикварные часы</div>
					<div class="saled-block__price">45 000 руб</div>
				</div>
			</div>
			<div class="saled-block">
				<img
					src="./assets/img/saled-2.jpg"
					alt="Старинные стулья"
					class="saled-block__bg"
				/>
				<div class="saled-block__text">
					<div class="saled-block__name">Старинные стулья</div>
					<div class="saled-block__price">35 000 руб</div>
				</div>
			</div>
			<div class="saled-block">
				<img
					src="./assets/img/saled-3.jpg"
					alt="Антикварные кувшин"
					class="saled-block__bg"
				/>
				<div class="saled-block__text">
					<div class="saled-block__name">Антикварные кувшин</div>
					<div class="saled-block__price">45 000 руб</div>
				</div>
			</div>
			<div class="saled-block">
				<img
					src="./assets/img/saled-4.jpg"
					alt="Статуэтка"
					class="saled-block__bg"
				/>
				<div class="saled-block__text">
					<div class="saled-block__name">Статуэтка</div>
					<div class="saled-block__price">15 000 руб</div>
				</div>
			</div>
		</div>
	</div>
</section>
