<section class="secure">
	<div class="container">
		<div class="flower-wrapper secure__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="flower-wrapper__title">
				Высокий <span>уровень безопасности</span>при продаже антиквариат
			</h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<div class="secure-cards">
			<div class="secure-card">
				<svg class="secure-card__icon">
					<use href="./assets/img/svg/sprite.svg#secure1"></use>
				</svg>
				<div class="secure-card__title">Охраняемый офис</div>
				<p class="secure-card__text">
					Въезд на территорию находится под круглосуточной охраной. В здании
					также находится круглосуточная охрана и видеонаблюдение. Все офисные
					помещения, коридоры и территория покрыты камерами видеонаблюдения.
					Офис находится рядом с метро.
				</p>
			</div>
			<div class="secure-card">
				<svg class="secure-card__icon">
					<use href="./assets/img/svg/sprite.svg#secure2"></use>
				</svg>
				<div class="secure-card__title">Бесплатная охраняемая парковка</div>
				<p class="secure-card__text">
					Вы можете приехать на автомобиле, предварительно сообщив нам госномер
					и дату приезда для оформления пропуска.
				</p>
			</div>
			<div class="secure-card">
				<svg class="secure-card__icon">
					<use href="./assets/img/svg/sprite.svg#secure3"></use>
				</svg>
				<div class="secure-card__title">
					Возможна выплата на банковскую карту
				</div>
				<p class="secure-card__text">
					Если Вам неудобно получить деньги наличными – мы отправим их на Вашу
					банковую карту, и после поступления денег Вы передадите нам
					антиквариат.
				</p>
			</div>
			<div class="secure-card">
				<svg class="secure-card__icon">
					<use href="./assets/img/svg/sprite.svg#secure4"></use>
				</svg>
				<div class="secure-card__title">Сделки конфиденциальны</div>
				<p class="secure-card__text">
					Мы не передаём Ваши контактные данные куда-либо и не требуем
					заключения лишних договоров.
				</p>
			</div>
			<div class="secure-card">
				<svg class="secure-card__icon">
					<use href="./assets/img/svg/sprite.svg#secure5"></use>
				</svg>
				<div class="secure-card__title">Безопасная оценка антиквариата</div>
				<p class="secure-card__text">
					Все предметы при оценке всегда будут находиться у Вас перед глазами.
					Вы можете быть уверены в их сохранности.
				</p>
			</div>
		</div>
	</div>
</section>
