<section class="table-section">
	<div class="container">
		<div class="flower-wrapper table-section__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="flower-wrapper__title">
				Как узнать <span>рыночную цену</span>на антиквариат
			</h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<div class="table-section__wrap">
			<p class="table-section__text">
				Чтобы продать антиквариат по рыночной цене - нужно знать рыночную цену,
				а для этого нужно много лет практики. К сожалению, без длительной
				подготовки самостоятельно не получится узнать рыночную цену, т.к. цена
				зависит от большого количества факторов, каждый из которых может влиять
				на определённый вид антиквариата с разной степенью.
			</p>
			<p class="table-section__text">
				Поэтому единственная возможность для неопытного владельца антиквариата
				узнать рыночную цену - это обращаться в несколько разных каналов продаж
				антиквариата с хорошей репутацией и сравнивать предложенные цены, при
				этом стоит учитывать, что привезя антиквариат физически в точку
				оценки/выкупа, вам скорее всего предложат цену заметно ниже, чем
				предлагали при онлайн-оценке, а также возможны значительные комиссии и
				задержки выкупа.
			</p>
		</div>

		<div class="table">
			<div class="table-row table-head">
				<div class="table-col"><p class="table__title">Фактор</p></div>
				<div class="table-col">
					<p class="table__title">Степень влияния на цену антиквариата</p>
				</div>
				<div class="table-col">
					<p class="table__title">
						Сколько нужно времени, чтобы научиться определять этот фактор, и его
						влияние с точностью до 10%
					</p>
				</div>
			</div>
			<div class="table-row">
				<div class="table-col">Сохранность антиквариата (состояние)</div>
				<div class="table-col">
					<p class="table__text">
						Цена антиквариата в разной сохранности может отличаться в 1000 раз:
						один и тот же предмет может ничего не стоить, а может стоить миллион
						рублей, если он в максимальной сохранности.
					</p>
					<p class="table__text">
						При этом для разных видов антиквариата до нашего времени могли дойти
						экземпляры в разной сохранности - для каких-то видов в основном
						распространены экземпляры в очень высокой сохранности (поэтому на
						них будет небольшая цена), а для каких-то видов антиквариата
						практически невозможно найти экземпляр в высокой сохранности, и цена
						на этот вид будет очень высокая.
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Необходима насмотренность разных типов антиквариата в разных
						сохранностях. Потребуется 200-300 часов, чтоб освоить начальный
						уровень этого навыка.
					</p>
				</div>
			</div>
			<div class="table-row">
				<div class="table-col">
					<p class="table__text">
						Тираж (сколько экземпляров антиквариата было выпущено) и редкость
						(сколько из тиража дожило до нашего времени)
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Чем меньше антиквариата дожило до нашего времени, тем выше цена на
						конкретный экземпляр.
					</p>
					<p class="table__text">
						При этом редкость считается в рамках конкретного вида антиквариата
						(или разновидности). Некоторые разновидности обладают низкой
						востребованностью, поэтому отдельно по ним редкость не учитывается,
						а учитывается в целом по виду антиквариата в который входит
						разновидность.
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Помимо каталожных знаний о тиражах, необходимо понимание количества
						оставшихся на руках у коллекционеров единиц антиквариата. Требуется
						около 100 часов на каждую категорию антиквариата
					</p>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__text">Подлинный ли экземпляр?</p>
					<p class="table__text">
						Подлинный экземпляр - выпущен на оригинальной фабрике/заводе
						производителе или у мастера и не подвергался каким-либо изменениям.
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Среди коллекционеров подделки практически ничего не стоят, поэтому
						если ваш экземпляр является копией либо это переделанный экземпляр
						(из старого, но более дешевого похожего) - такой предмет практически
						ничего не стоит, мы такие не выкупаем. Отдельно стоит отметить
						"новоделы": которые изготавливаются по той же (либо по похожей)
						технологии, что и оригиналы, но в другое время или в другом месте -
						такие предметы иногда являются ценными.
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Нужна насмотренность тысяч единиц антиквариата под руководством
						опытного эксперта. Это может занять около 3000-5000 часов для одной
						категории антиквариата. Для определения подлинности самых редких
						экземпляров антиквариата нужен доступ к музейным экземплярам.
					</p>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__text">Иностранный предмет или местный</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Предмет стоит дороже в том же регионе, где он был выпущены. То есть
						предметы, изготовленные в Древней Руси, Российской Империи, СССР и
						России больше ценятся в России. Соответственно, иностранные предметы
						в России ценятся меньше, чем в других странах, и будут стоить
						дешевле.
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Есть сложности с каталогами: предметы плохо каталогизированы, очень
						сложно будет разобраться самостоятельно со всеми разновидностями. И
						категорий антиквариата тысячи, эту задачу крайне сложно даже
						измерить.
					</p>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__text">Востребованность</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						У коллекционеров в России есть сложившиеся представления о том,
						какие коллекции являются "интересными" и какие виды антиквариата
						являются "интересными". Поэтому у каждого вида антиквариата есть
						разное количество желающих получить этот зкземпляр себе в коллекцию.
						Чем больше желающих, тем больше среди этих желающих обеспеченных
						людей и тем выше цена на предмет.
					</p>
					<p class="table__text">
						Например, статуэтка Российской Империи может быть известна в
						единственном экземпляре и другая статуэтка (другого вида) тоже в
						единственном экземпляре, а цена на них отличается в 5 раз по причине
						разной востребованности коллекционерами России.
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Нужен актуальный опыт проведения сделок за последние 5 лет по
						10000-15000 экземпляров для каждой категории антиквариата. Это может
						занять до 10000 часов.
					</p>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__text">
						Рыночная цена металла из которого изготовлен предмет
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Если предмет сделан из золота/серебра/платины/палладия, то цена на
						него автоматически становится не ниже рыночной цены чистого металла
						из которого изготовлен предмет. Предметы из драгметаллов,
						изготовленные высоким тиражом, зачастую не имеют коллекционной
						надбавки к цене и стоят ровно столько, сколько стоит металл из
						которого они изготовлены.
					</p>
				</div>
				<div class="table-col">
					<p class="table__text">
						Тут всё зависит от котировок на драгметаллы и тиража предмета. Нужно
						быть в курсе котировок.
					</p>
				</div>
			</div>
		</div>

		<div class="mobile-table">
			<div class="mobile-table__item">
				<button class="mobile-table__toggle btn-reset">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Фактор 1</div>
						<div class="mobile-table__subtitle">
							Сохранность антиквариата (состояние)
						</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Степень влияния на цену антиквариата:</span
							>
							<p class="mobile-table-list__text">
								Цена антиквариата в разной сохранности может отличаться в 1000
								раз: один и тот же предмет может ничего не стоить, а может
								стоить миллион рублей, если он в максимальной сохранности.
							</p>
							<p class="mobile-table-list__text">
								При этом для разных видов антиквариата до нашего времени могли
								дойти экземпляры в разной сохранности - для каких-то видов в
								основном распространены экземпляры в очень высокой сохранности
								(поэтому на них будет небольшая цена), а для каких-то видов
								антиквариата практически невозможно найти экземпляр в высокой
								сохранности, и цена на этот вид будет очень высокая.
							</p>
						</li>
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Сколько нужно времени, чтобы научиться определять этот фактор,
								и его влияние с точностью до 10%:</span
							>
							<p class="mobile-table-list__text">
								Необходима насмотренность разных типов антиквариата в разных
								сохранностях. Потребуется 200-300 часов, чтоб освоить начальный
								уровень этого навыка.
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="mobile-table__item">
				<button class="mobile-table__toggle btn-reset">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Фактор 2</div>
						<div class="mobile-table__subtitle">
							Тираж (сколько экземпляров антиквариата было выпущено) и редкость
							(сколько из тиража дожило до нашего времени)
						</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Степень влияния на цену антиквариата:</span
							>
							<p class="mobile-table-list__text">
								Чем меньше антиквариата дожило до нашего времени, тем выше цена
								на конкретный экземпляр.
							</p>
							<p class="mobile-table-list__text">
								При этом редкость считается в рамках конкретного вида
								антиквариата (или разновидности). Некоторые разновидности
								обладают низкой востребованностью, поэтому отдельно по ним
								редкость не учитывается, а учитывается в целом по виду
								антиквариата в который входит разновидность.
							</p>
						</li>
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Сколько нужно времени, чтобы научиться определять этот фактор,
								и его влияние с точностью до 10%:</span
							>
							<p class="mobile-table-list__text">
								Помимо каталожных знаний о тиражах, необходимо понимание
								количества оставшихся на руках у коллекционеров единиц
								антиквариата. Требуется около 100 часов на каждую категорию
								антиквариата
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="mobile-table__item">
				<button class="mobile-table__toggle btn-reset">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Фактор 3</div>
						<div class="mobile-table__subtitle">Подлинный ли экземпляр?</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Степень влияния на цену антиквариата:</span
							>
							<p class="mobile-table-list__text">
								Среди коллекционеров подделки практически ничего не стоят,
								поэтому если ваш экземпляр является копией либо это переделанный
								экземпляр (из старого, но более дешевого похожего) - такой
								предмет практически ничего не стоит, мы такие не выкупаем.
								Отдельно стоит отметить "новоделы": которые изготавливаются по
								той же (либо по похожей) технологии, что и оригиналы, но в
								другое время или в другом месте - такие предметы иногда являются
								ценными.
							</p>
						</li>
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Сколько нужно времени, чтобы научиться определять этот фактор,
								и его влияние с точностью до 10%:</span
							>
							<p class="mobile-table-list__text">
								Нужна насмотренность тысяч единиц антиквариата под руководством
								опытного эксперта. Это может занять около 3000-5000 часов для
								одной категории антиквариата. Для определения подлинности самых
								редких экземпляров антиквариата нужен доступ к музейным
								экземплярам.
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="mobile-table__item">
				<button class="mobile-table__toggle btn-reset">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Фактор 4</div>
						<div class="mobile-table__subtitle">
							Иностранный предмет или местный
						</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Степень влияния на цену антиквариата:</span
							>
							<p class="mobile-table-list__text">
								Предмет стоит дороже в том же регионе, где он был выпущены. То
								есть предметы, изготовленные в Древней Руси, Российской Империи,
								СССР и России больше ценятся в России. Соответственно,
								иностранные предметы в России ценятся меньше, чем в других
								странах, и будут стоить дешевле.
							</p>
						</li>
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Сколько нужно времени, чтобы научиться определять этот фактор,
								и его влияние с точностью до 10%:</span
							>
							<p class="mobile-table-list__text">
								Есть сложности с каталогами: предметы плохо каталогизированы,
								очень сложно будет разобраться самостоятельно со всеми
								разновидностями. И категорий антиквариата тысячи, эту задачу
								крайне сложно даже измерить.
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="mobile-table__item">
				<button class="mobile-table__toggle btn-reset">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Фактор 5</div>
						<div class="mobile-table__subtitle">Востребованность</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Степень влияния на цену антиквариата:</span
							>
							<p class="mobile-table-list__text">
								У коллекционеров в России есть сложившиеся представления о том,
								какие коллекции являются "интересными" и какие виды антиквариата
								являются "интересными". Поэтому у каждого вида антиквариата есть
								разное количество желающих получить этот зкземпляр себе в
								коллекцию. Чем больше желающих, тем больше среди этих желающих
								обеспеченных людей и тем выше цена на предмет.
							</p>
							<p class="mobile-table-list__text">
								Например, статуэтка Российской Империи может быть известна в
								единственном экземпляре и другая статуэтка (другого вида) тоже в
								единственном экземпляре, а цена на них отличается в 5 раз по
								причине разной востребованности коллекционерами России.
							</p>
						</li>
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Сколько нужно времени, чтобы научиться определять этот фактор,
								и его влияние с точностью до 10%:</span
							>
							<p class="mobile-table-list__text">
								Нужен актуальный опыт проведения сделок за последние 5 лет по
								10000-15000 экземпляров для каждой категории антиквариата. Это
								может занять до 10000 часов.
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="mobile-table__item">
				<button class="mobile-table__toggle btn-reset">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Фактор 6</div>
						<div class="mobile-table__subtitle">
							Рыночная цена металла из которого изготовлен предмет
						</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</button>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Рыночная цена металла из которого изготовлен предмет</span
							>
							<p class="mobile-table-list__text">
								Если предмет сделан из золота/серебра/платины/палладия, то цена
								на него автоматически становится не ниже рыночной цены чистого
								металла из которого изготовлен предмет. Предметы из
								драгметаллов, изготовленные высоким тиражом, зачастую не имеют
								коллекционной надбавки к цене и стоят ровно столько, сколько
								стоит металл из которого они изготовлены.
							</p>
						</li>
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title"
								>Сколько нужно времени, чтобы научиться определять этот фактор,
								и его влияние с точностью до 10%:</span
							>
							<p class="mobile-table-list__text">
								Тут всё зависит от котировок на драгметаллы и тиража предмета.
								Нужно быть в курсе котировок.
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
