<section class="table-section table-section-2">
	<div class="container">
		<div class="flower-wrapper table-section__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="flower-wrapper__title">
				Куда можно <span>продать антиквариат</span>
			</h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<div class="table-section__wrap">
			<p class="table-section__text">
				После того как получится узнать диапазон рыночной цены на антиквариат,
				далее следует процесс продажи, и даже при том, что вы точно знаете
				диапазон рыночной цены - продать антиквариат по цене в этом диапазоне
				будет крайне сложной задачей, требующей от вас много действий и времени.
				Ниже описаны варианты: каким образом можно получить деньги за
				антиквариат.
			</p>
			<p class="table-section__text">
				В любом случае актуально правило: чем больше денег вы хотите получить за
				антиквариат - тем больше времени и усилий вам придётся потратить.
			</p>
		</div>
		<div class="table table-2">
			<div class="table-row table-head-secondary">
				<div class="table-col"><p class="table__title">Канал продаж</p></div>
				<div class="table-col">
					<p class="table__title">Плюсы</p>
				</div>
				<div class="table-col">
					<p class="table__title">Минусы</p>
				</div>
			</div>
			<div class="table-row">
				<div class="table-col">
					<p class="table__num">01</p>
					<p class="table__text">MONETNIK.ru</p>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Вы получите деньги сразу в день обращения
						</li>
						<li class="table-menu__item">
							Цена будет приближена к максимальной, потому что мы магазин
							(продаём большому количеству конечных коллекционеров) и имеем
							возможность продавать дороже, чем другие
						</li>
						<li class="table-menu__item">
							Вы можете быть уверены в безопасности, потому что имеете дело с
							крупнейшим магазином антиквариата в РФ. В подтверждение этого 8000
							отзывов на Яндекс.Маркет
						</li>
					</ul>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Вы не получите максимальную цену за антиквариат, которую готовы
							платить коллекционеры. Если вы хотите этого, потребуется продавать
							антиквариат самостоятельно, придется потратить много времени и
							нести все риски по реализации.
						</li>
					</ul>
				</div>
			</div>
			<div class="table-row">
				<div class="table-col">
					<p class="table__num">02</p>
					<p class="table__text">
						Специализированные аукционные дома (аукционы антиквариата)
					</p>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Если повезет, на аукционе можно получить высокую цену
						</li>
						<li class="table-menu__item">
							Аукционы, как правило, работают официально и это достаточно
							безопасно
						</li>
						<li class="table-menu__item">
							Нет необходимости вести переговоры с покупателями антиквариата, вы
							общаетесь только с аукционом
						</li>
					</ul>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							С цены молотка нужно платить комиссию 15-20% - то есть вы получите
							денег на 15-20% меньше, чем цена, по которой продан предмет на
							аукционе
						</li>
						<li class="table-menu__item">
							Антиквариат необходимо отдать на хранение аукционисту под расписку
						</li>
						<li class="table-menu__item">
							Если интереса к вашему предмету будет мало - он может не набрать
							ожидаемой цены, но вы все равно обязаны ее отдать по цене аукциона
						</li>
						<li class="table-menu__item">
							С момента сдачи антиквариата на аукцион до момента выплаты пройдет
							от 1 до 6 месяцев
						</li>
						<li class="table-menu__item">
							Победитель торгов может отказаться от выкупа, тогда вам вернут
							предмет(ы)
						</li>
						<li class="table-menu__item">
							Большинство аукционных домов принимают только редкие предметы
						</li>
					</ul>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__num">03</p>
					<p class="table__text">
						Маркетплейсы и доски объявлений (Avito, Meshok и другие), форумы,
						коллекционные и антикварные сообщества в соцсетях
					</p>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Если найдется хороший покупатель, цена продажи может быть выше,
							чем в скупке или на аукционе
						</li>
						<li class="table-menu__item">
							Вы сами назначаете цену, которую хотите
						</li>
					</ul>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							На Avito и других маркетплейсах много мошенников. Есть шанс утраты
							предмета и неполучения денег
						</li>
						<li class="table-menu__item">
							Если вы продаете в первый раз, то шансы дорого продать очень
							низкие, для успешных сделок необходима деловая репутация на
							площадке, которая долго нарабывается
						</li>
						<li class="table-menu__item">
							Вам самостоятельно нужно общаться с потенциальным покупателем (при
							продаже одного предмета придётся ответить на десятки вопросов и
							сделать десятки дополнительных фотографий к каждому предмету),
							получать от покупателя оплату, отправлять предметы
						</li>
						<li class="table-menu__item">
							Появляются риски утраты антиквариата при доставке, особенно при
							доставке в другой город
						</li>
						<li class="table-menu__item">
							Чтобы найти покупателя и продать ему антиквариат, уйдет много
							времени на регистрацию, фотографирование, выставление лотов и их
							описание, переговоры с покупателем, получение оплаты, доставку
							предметов покупателю
						</li>
					</ul>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__num">04</p>
					<p class="table__text">Местные антикварные клубы и блошиные рынки</p>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Личная продажа "из рук в руки", нет риска потери антиквариата при
							пересылке
						</li>
						<li class="table-menu__item">
							Если хорошо торговаться и настойчиво искать покупателя - можно
							получить хорошую цену
						</li>
					</ul>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Клубы работают не чаще 1 раза в неделю, а во многих городах 1 раз
							в месяц или реже
						</li>
						<li class="table-menu__item">
							Чтобы получить хорошую цену, придется упорно торговаться и искать
							покупателя, потратив много времени на устные переговоры
						</li>
						<li class="table-menu__item">
							Предметы (зачастую большие и тяжелые) придется везти с собой и
							ходить с ними по клубу, который фактически выглядит как рынок.
							Придется их показывать разным людям в окружении десятков других
							людей. Есть риски утраты или повреждения предметов.
						</li>
					</ul>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__num">05</p>
					<p class="table__text">Ломбарды</p>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Можно получить небольшое количество денег 24/7
						</li>
					</ul>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Очень низкая цена, часто предметы оцениваются по цене лома
							металла, не учитывается историческая и коллекционная составляющая
						</li>
						<li class="table-menu__item">
							Работают как правило только с золотыми и серебряными предметами
						</li>
						<li class="table-menu__item">
							Ломбарды часто практикуют химические способы оценки пробы металла:
							ни в коем случае не соглашайтесь на это - в результате такого
							теста цена предмета может сильно уменьшиться
						</li>
					</ul>
				</div>
			</div>

			<div class="table-row">
				<div class="table-col">
					<p class="table__num">06</p>
					<p class="table__text">Скупки</p>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Выплата денег сразу, в день обращения
						</li>
						<li class="table-menu__item">
							Можно продать предмет практически в любой день недели в рабочее
							время
						</li>
					</ul>
				</div>
				<div class="table-col">
					<ul class="table-menu">
						<li class="table-menu__item">
							Цена выкупа часто значительно ниже рыночной, как правило, потому
							что скупки нацелены на быструю перепродажу предметов в магазины
						</li>
						<li class="table-menu__item">
							Могут попасться недобросовестные скупщики, есть риски утраты
							предметов или денег
						</li>
						<li class="table-menu__item">
							У большинства скупок коллекционных предметов нет определённой
							специализации и эксперты, которые работают в этих скупках, не
							могут оценить все факторы влияющие на цену предмета, поэтому,
							чтобы не рисковать, дают низкую цену
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="mobile-table">
			<div class="mobile-table__item">
				<div class="mobile-table__toggle filled">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Канал продаж 1</div>
						<div class="mobile-table__subtitle">MONETNIK.ru</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</div>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Плюсы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Вы получите деньги сразу в день обращения
								</li>
								<li class="mobile-table-sublist__item">
									Цена будет приближена к максимальной, потому что мы магазин
									(продаём большому количеству конечных коллекционеров) и имеем
									возможность продавать дороже, чем другие
								</li>
								<li class="mobile-table-sublist__item">
									Вы можете быть уверены в безопасности, потому что имеете дело
									с крупнейшим магазином антиквариата в РФ. В подтверждение
									этого 8000 отзывов на Яндекс.Маркет
								</li>
							</ul>
						</li>
					</ul>
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Минусы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Вы не получите максимальную цену за антиквариат, которую
									готовы платить коллекционеры. Если вы хотите этого,
									потребуется продавать антиквариат самостоятельно, придется
									потратить много времени и нести все риски по реализации.
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 2 -->
			<div class="mobile-table__item">
				<div class="mobile-table__toggle filled">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Канал продаж 2</div>
						<div class="mobile-table__subtitle">
							Специализированные аукционные дома (аукционы антиквариата)
						</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</div>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Плюсы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Если повезет, на аукционе можно получить высокую цену
								</li>
								<li class="mobile-table-sublist__item">
									Аукционы, как правило, работают официально и это достаточно
									безопасно
								</li>
								<li class="mobile-table-sublist__item">
									Нет необходимости вести переговоры с покупателями
									антиквариата, вы общаетесь только с аукционом
								</li>
							</ul>
						</li>
					</ul>
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Минусы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									С цены молотка нужно платить комиссию 15-20% - то есть вы
									получите денег на 15-20% меньше, чем цена, по которой продан
									предмет на аукционе
								</li>
								<li class="mobile-table-sublist__item">
									Антиквариат необходимо отдать на хранение аукционисту под
									расписку
								</li>
								<li class="mobile-table-sublist__item">
									Если интереса к вашему предмету будет мало - он может не
									набрать ожидаемой цены, но вы все равно обязаны ее отдать по
									цене аукциона
								</li>
								<li class="mobile-table-sublist__item">
									С момента сдачи антиквариата на аукцион до момента выплаты
									пройдет от 1 до 6 месяцев
								</li>
								<li class="mobile-table-sublist__item">
									Победитель торгов может отказаться от выкупа, тогда вам вернут
									предмет(ы)
								</li>
								<li class="mobile-table-sublist__item">
									Большинство аукционных домов принимают только редкие предметы
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 3 -->
			<div class="mobile-table__item">
				<div class="mobile-table__toggle filled">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Канал продаж 3</div>
						<div class="mobile-table__subtitle">
							Маркетплейсы и доски объявлений (Avito, Meshok и другие), форумы,
							коллекционные и антикварные сообщества в соцсетях
						</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</div>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Плюсы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Если найдется хороший покупатель, цена продажи может быть
									выше, чем в скупке или на аукционе
								</li>
								<li class="mobile-table-sublist__item">
									Вы сами назначаете цену, которую хотите
								</li>
							</ul>
						</li>
					</ul>
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Минусы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									На Avito и других маркетплейсах много мошенников. Есть шанс
									утраты предмета и неполучения денег
								</li>
								<li class="mobile-table-sublist__item">
									Если вы продаете в первый раз, то шансы дорого продать очень
									низкие, для успешных сделок необходима деловая репутация на
									площадке, которая долго нарабывается
								</li>
								<li class="mobile-table-sublist__item">
									Вам самостоятельно нужно общаться с потенциальным покупателем
									(при продаже одного предмета придётся ответить на десятки
									вопросов и сделать десятки дополнительных фотографий к каждому
									предмету), получать от покупателя оплату, отправлять предметы
								</li>
								<li class="mobile-table-sublist__item">
									Появляются риски утраты антиквариата при доставке, особенно
									при доставке в другой город
								</li>
								<li class="mobile-table-sublist__item">
									Чтобы найти покупателя и продать ему антиквариат, уйдет много
									времени на регистрацию, фотографирование, выставление лотов и
									их описание, переговоры с покупателем, получение оплаты,
									доставку предметов покупателю
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 4 -->
			<div class="mobile-table__item">
				<div class="mobile-table__toggle filled">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Канал продаж 4</div>
						<div class="mobile-table__subtitle">
							Местные антикварные клубы и блошиные рынки
						</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</div>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Плюсы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Личная продажа "из рук в руки", нет риска потери антиквариата
									при пересылке
								</li>
								<li class="mobile-table-sublist__item">
									Если хорошо торговаться и настойчиво искать покупателя - можно
									получить хорошую цену
								</li>
							</ul>
						</li>
					</ul>
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Минусы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Клубы работают не чаще 1 раза в неделю, а во многих городах 1
									раз в месяц или реже
								</li>
								<li class="mobile-table-sublist__item">
									Чтобы получить хорошую цену, придется упорно торговаться и
									искать покупателя, потратив много времени на устные переговоры
								</li>
								<li class="mobile-table-sublist__item">
									Предметы (зачастую большие и тяжелые) придется везти с собой и
									ходить с ними по клубу, который фактически выглядит как рынок.
									Придется их показывать разным людям в окружении десятков
									других людей. Есть риски утраты или повреждения предметов.
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 5 -->
			<div class="mobile-table__item">
				<div class="mobile-table__toggle filled">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Канал продаж 5</div>
						<div class="mobile-table__subtitle">Ломбарды</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</div>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Плюсы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Можно получить небольшое количество денег 24/7
								</li>
							</ul>
						</li>
					</ul>
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Минусы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Очень низкая цена, часто предметы оцениваются по цене лома
									металла, не учитывается историческая и коллекционная
									составляющая
								</li>
								<li class="mobile-table-sublist__item">
									Работают как правило только с золотыми и серебряными
									предметами
								</li>
								<li class="mobile-table-sublist__item">
									Ломбарды часто практикуют химические способы оценки пробы
									металла: ни в коем случае не соглашайтесь на это - в
									результате такого теста цена предмета может сильно уменьшиться
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 6 -->
			<div class="mobile-table__item">
				<div class="mobile-table__toggle filled">
					<div class="mobile-table__wrap">
						<div class="mobile-table__title">Канал продаж 6</div>
						<div class="mobile-table__subtitle">Скупки</div>
					</div>
					<div class="mobile-table__icon-wrapper">
						<svg class="mobile-table__icon">
							<use href="./assets/img/svg/sprite.svg#arrow-bottom"></use>
						</svg>
					</div>
				</div>
				<div class="mobile-table__content">
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Плюсы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Выплата денег сразу, в день обращения
								</li>
								<li class="mobile-table-sublist__item">
									Можно продать предмет практически в любой день недели в
									рабочее время
								</li>
							</ul>
						</li>
					</ul>
					<ul class="mobile-table-list list-reset">
						<li class="mobile-table-list__item">
							<span class="mobile-table-list__title">Минусы</span>
							<ul class="mobile-table-sublist">
								<li class="mobile-table-sublist__item">
									Цена выкупа часто значительно ниже рыночной, как правило,
									потому что скупки нацелены на быструю перепродажу предметов в
									магазины
								</li>
								<li class="mobile-table-sublist__item">
									Могут попасться недобросовестные скупщики, есть риски утраты
									предметов или денег
								</li>
								<li class="mobile-table-sublist__item">
									У большинства скупок коллекционных предметов нет определённой
									специализации и эксперты, которые работают в этих скупках, не
									могут оценить все факторы влияющие на цену предмета, поэтому,
									чтобы не рисковать, дают низкую цену
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- End -->
		</div>
	</div>
</section>
