<section class="team">
	<div class="container">
		<div class="flower-wrapper team__flower">
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-l"></use>
			</svg>
			<h2 class="flower-wrapper__title">Наша <span>команда</span></h2>
			<svg class="flower-wrapper__icon">
				<use href="./assets/img/svg/sprite.svg#flower-hor-r"></use>
			</svg>
		</div>
		<div class="team-cards">
			<div class="team-card">
				<img
					src="./assets/img/team-1.jpg"
					alt="наш сотрудник"
					class="team-card__img"
				/>
				<div class="team-card__text">Валерий Онищенко</div>
			</div>
			<div class="team-card">
				<img
					src="./assets/img/team-2.jpg"
					alt="наш сотрудник"
					class="team-card__img"
				/>
				<div class="team-card__text">Станислав Комаров</div>
			</div>
			<div class="team-card">
				<img
					src="./assets/img/team-3.jpg"
					alt="наш сотрудник"
					class="team-card__img"
				/>
				<div class="team-card__text">Яна Плющенко</div>
			</div>
			<div class="team-card">
				<img
					src="./assets/img/team-4.jpg"
					alt="наш сотрудник"
					class="team-card__img"
				/>
				<div class="team-card__text">Геннадий Федько</div>
			</div>
		</div>
	</div>
</section>
