<section class="work">
	<div class="container work__container">
		<div class="work__content">
			<div class="work__wrapper">
				<svg class="flower-vert">
					<use href="./assets/img/svg/sprite.svg#flower-vert"></use>
				</svg>
				<h2 class="work__title">Как мы <span>работаем</span></h2>
			</div>
			<div class="work__glob">
				<img src="./assets/img/glob.png" alt="глобус" />
			</div>
		</div>
		<div class="work__cards">
			<div class="work-card">
				<div class="work-card__top">
					<div class="work-card__step">шаг</div>
					<div class="work-card__num">01</div>
				</div>
				<svg class="decor-divider work-card__divider">
					<use href="./assets/img/svg/sprite.svg#decor-divider-small"></use>
				</svg>
				<div class="work-card__body">
					<div class="work-card__title">Вы обращаетесь к нам</div>
					<p class="work-card__text">
						Обратитесь к нам удобным вам способом: через форму на сайте, в
						мессенджерах WhatsApp, Telegram или Viber по номеру
						<a href="tel:+79932561231">+7 993 256-12-31,</a> позвонив по
						телефону или написав на e-mail
						<a href="mailto:gallery24ru@yandex.ru">gallery24ru@yandex.ru</a>
					</p>
				</div>
			</div>
			<div class="work-card">
				<div class="work-card__top">
					<div class="work-card__step">шаг</div>
					<div class="work-card__num">02</div>
				</div>
				<svg class="decor-divider work-card__divider">
					<use href="./assets/img/svg/sprite.svg#decor-divider-small"></use>
				</svg>
				<div class="work-card__body">
					<div class="work-card__title">Проводим предварительную оценку</div>
					<p class="work-card__text">
						По вашим фотографиям и иописанию мы определимтпредварительную
						стоимость предмета.
					</p>
				</div>
			</div>
			<div class="work-card">
				<div class="work-card__top">
					<div class="work-card__step">шаг</div>
					<div class="work-card__num">03</div>
				</div>
				<svg class="decor-divider work-card__divider">
					<use href="./assets/img/svg/sprite.svg#decor-divider-small"></use>
				</svg>
				<div class="work-card__body">
					<div class="work-card__title">Встречаемся лично</div>
					<p class="work-card__text">
						На личной встрече мы подробнее осмотрим вещь и скажем более точную
						стоимость. Встречу можно организовать в удобное для вас время как в
						нашей галерее в центре Москвы, так и у вас.
					</p>
				</div>
			</div>
			<div class="work-card">
				<div class="work-card__top">
					<div class="work-card__step">шаг</div>
					<div class="work-card__num">04</div>
				</div>
				<svg class="decor-divider work-card__divider">
					<use href="./assets/img/svg/sprite.svg#decor-divider-small"></use>
				</svg>
				<div class="work-card__body">
					<div class="work-card__title">Выплачиваем деньги</div>
					<p class="work-card__text">
						Если стоимость вас устраивает, то мы завершаем сделку и выплачиваем
						Вам оговоренную сумму.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
