:root {
	--burger-default: #8c755e;
	--burger-active: #8c755e;
	--black: #000;
	--driftwood: #b78b49;
	--driftwood-200: #8c755e;
	--alto: #d3d3d3;
}

$breakpoints: (
	'xs': 400px,
	'sm': 544px,
	'md': 768px,
	'lg': 992px,
	'xl': 1280px,
	'xxl': 1440px,
);

// z-index
$burgerIndex: 4;
$mobileMenuIndex: 3;
$overlayIndex: 2;

// Colors

// 500 есть для мобилки
