.mobile-menu {
	&.active {
		transform: translateX(0);
	}

	// Mobile Menu Styles
	@media screen and (max-width: 1100px) {
		display: flex;
		flex-direction: column;

		position: fixed;
		right: 0;
		top: 0;

		max-width: 320px;
		min-width: 300px;

		width: 100%;
		height: 100%;
		padding: 50px 15px 20px 15px;

		overflow-y: auto;
		overflow-x: hidden;

		z-index: $mobileMenuIndex;

		transform: translateX(100%);
		transition: transform 250ms ease-in-out;

		background-color: #fff;
	}
}

.logo {
	display: block;
	flex-shrink: 0;
}

.header {
	position: absolute;
	width: 100%;
	&::before {
		content: '';
		position: absolute;

		top: 87px;
		background-color: #b5b0a9;
		width: 100%;
		height: 1px;
		@media screen and (max-width: 1100px) {
			top: 60px;
		}
	}
	&__container {
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 1100px) {
			align-items: center;
		}
	}

	&__inner {
		position: relative;
		z-index: 1;
		padding: 20px 0;
		display: flex;
		align-items: center;

		@media screen and (max-width: 1100px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__logo {
		position: relative;
		z-index: 1;
		width: 139px;
		height: 141px;
		@media screen and (max-width: 1100px) {
			width: 80px;
			height: 80px;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__socials {
		margin-right: 30px;
		@media screen and (max-width: 1100px) {
			margin-right: 0;
		}
	}

	&__menu {
		margin-right: 40px;
		@media screen and (max-width: 1100px) {
			margin-right: 0;
			flex-direction: column;
			gap: 20px;
		}
	}

	&__icon {
		margin-top: 2px;
		margin-right: 5px;
		flex-shrink: 0;

		width: 14px;
		height: 14px;
	}

	&__number {
		font-weight: 600;
		font-size: 16px;
		& ~ span {
			text-decoration: underline;
		}
	}

	&__btn {
		padding: 10px 20px;
		color: var(--black);
		text-align: center;
		font-family: Oswald;
		font-size: 16px;
		font-weight: 600;
		border-radius: 5px;
		border: 1px solid var(--black);
	}
}

.header-menu {
	display: flex;
	align-items: center;
	gap: 50px;

	&__item {
		display: flex;
	}
	&__link {
		text-decoration: none;

		display: flex;
		flex-direction: column;

		color: var(--black);
		text-align: right;
		font-family: Oswald;
		font-size: 14px;
		font-weight: 400;
	}
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 10px;
	&__link {
		display: grid;
		place-items: center;
		padding: 8px;
		width: 36px;
		height: 36px;
		background-color: var(--driftwood);

		border-radius: 50%;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}
}
